.main-body {
  margin-top: 100px;
  margin: 100px;
  position: absolute;
  text-align: center;
}

.title {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.search-menu {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  background-color: aliceblue;
  height: 40%;
}

.result {
  align-items: center;
  text-align: center;
}

.content {
  justify-content: left;
  align-items: left;
  text-align: left;
  color: rgb(59, 82, 82);
}

.profile {
  height: 200px;
  width: 200px;
}

.main {
  position: sticky;
  background-image: url(./media/git-desktop-background.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

