.main-body {
  margin-top: 100px;
  margin: 100px;
  position: absolute;
  text-align: center;
}

.title {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.search-menu {
  color:rgb(189, 28, 28);
  justify-content: left;
  align-items: left;
  text-align: left;
}

.result {
  align-items: center;
  text-align: center;
}

.content-top {
  color: blue;
  font-size: x-large;
  text-align: left;
}

.content {
  justify-content: left;
  align-items: left;
  text-align: left;
  color: rgb(45, 105, 145);
}

.profile {
  height: 200px;
  width: 200px;
}

.main {
  position: sticky;
  background-image: url(./media/git-desktop-background.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

